h1 { color: gold;
background-color: midnightblue;
text-align: center;
font-style: oblique;
padding-top: 50px;
padding-bottom: 50px;
margin-bottom: -10px;

}


h3 {
color: gold;
background-color: midnightblue;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}


p 
{

text-align: center;
}


h4
{
text-align: center;
}


a
{
color: midnightblue;
text-decoration-color: white;
text-align: center;
}
 
footer{
background-color: midnightblue;
color: gold;
text-align: center;
}
