.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow: hidden;
    padding-top: 60px;
    
}

.sidenav a {
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 24px;
    color: #f1f1f1;
    display: block;
    overflow-x: hidden;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sideText {
    visibility: hidden;
    position: fixed;
}

.topoptionstext
{
    
    line-height: 3;
}

.sideselections{
    line-height: 3;
}

/* Profile button on bottom right */
.sideProfile {
    line-height: 15;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

/* Right Side Content */
.rightBox {
    width: 290px;
    height: 430px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    background-color: grey;
    margin-top: 5%;
    margin-bottom: 5%;
}

.rightBox p, h1  {
    color: #f1f1f1;
    text-align: center;
}

.rightBox p {
    font-size: 48px;
}

.rightBox h1 {
    font-size: 64px;
}

/* Body Background  */
body {
    background-color: #f1f1f1;
}

/* Profile Pictures */
.profileImg {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;
}
.profileImgofFriends {
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.smalllogoimage
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.fulllogo
{
    line-height: 3.1;
}
.lg
{
    font-size: xx-large;
}
.usera:link, .usera:hover, .usera:visited,.usera:active {
    text-decoration: none;
    color: black;
  }
  .border
{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 1440px;
}

.select { 
    background-position: center right;
    background-repeat: no-repeat;
    border: 0px;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline:0px;
    font-size: larger;
  }
  .online
  {
    width: 280px;
    height: 330px;
    line-height:3em;
    overflow:auto;
    padding:5px;
  }
