.grid-item img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.grid
{
    background-color: rgb(223, 223, 223);
}

.bottomTags {
    width: 102.5%;
    background-color: white;
    border: 1px groove #090909;
}

ul {
    list-style: none;
    padding-left: 0;
    list-style-type: none;
    font-size: 20px;
}