
.dropdown{
height: 50px;
background-color: rgb(13, 13, 65);
    color: gold;
text-align: center;
width: 200px;
margin: 0px;
}
div{
height: 50px;

}
.Picture
{
    max-height:650px;
    max-width:2000px;
    width: 2000;
    height: 650px;


}