/* Devon Dalrymple */
/* Tilted Background for Home */
#homeTab {
    background-color: #FFC814;
    -moz-transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    -o-transform: skew(10deg, 0deg);
    -ms-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);
    height: 50px;
    }

    /* Text for Home Link */
#homeText {
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
    color: black;
    font-weight: 600;
    font-size: 14px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
/* The Whole Tab for the Dropdown */
#dropdownTab {
    height: 50px;
}

/* The Whole Tab for the Dropdown while Hovering */
#dropdownTab:hover {
    background-color: #FFC814;
    -moz-transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    -o-transform: skew(10deg, 0deg);
    -ms-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);
    height: 50px;
}

/* Dropdown Icon */
.fas fa-caret-down fa-sm {
    color: #FFC814;
}

/* Dropdown Icon while Hovering */
.fas fa-caret-down fa-sm:hover {
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
    color: black;
    font-weight: 600;
    font-size: 14px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

/* Text on Dropdown Box */
.dropdownText {
    color: #FFC814;
    font-size: 14px;
    height: 50px;
}

/* Text on Dropdown Box while Hovering */
.dropdownText:hover {
    -moz-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
    color: black;
    font-weight: 600;
    font-size: 14px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

/* All items in the dropdown are handled by this */
[name~="dropdownItem"] {
    border: 1px solid lightgray;
    color: black!important;
    font-weight: 400;
    font-size: 14px;
  }

/* Dropdown inside dropdown BROKEN */
/* [name~="dropdownItem"]:hover {
    margin-left: 100%!important;
} */

/* 
Will be used to show background change on hover
nav ul li:hover {
background-color: white;
}
 */

 /* Slideshow CSS */

 /* * {box-sizing:border-box} */

/* Slideshow container */
.mySlides {display:none;}

/* CSS For Sticky Scroll to Top Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  /* Featured News */
  /* Smaller images for the horizontal cards */
  .cardimage {
      max-width: 112px;
      max-height: 110px;
      width: 112px;
      height: 110px;
      overflow: hidden;
      margin: 11px;
      -webkit-border-radius: 20px !important;
      -moz-border-radius: 20px !important;
      border-radius: 20px !important;
  }

  /* For the big card image */
  .card-image {
    -webkit-border-radius: 24px 24px 0px 0px;
    -moz-border-radius: 24px 24px 0px 0px;
    border-radius: 24px 24px 0px 0px;
  }

  /* For each of the cards */
  .card {
    -webkit-border-radius: 24px !important;
    -moz-border-radius: 24px !important;
    border-radius: 24px !important;
  }

  /* For the date header of the horizontal cards */
  .date-header {
      color: rgba(0, 0, 0, .6) !important;
      font-size: 12px !important;
  }

  /* For the text in the cards */
  .card-link-text {
      color: #172b54;
      font-size: 15px;
      font-weight: 500;
  }

  /* For the Explore Picture Buttons */
  .explore {
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative;
  }

  /* For the Explore Picture Button Hover Effect */
  .explore:hover {
    background-color: #2a303e !important;
    opacity: 0.9 !important;
  }

  .explore-picture {
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  /* Text in the Explore Buttons */
  .explore-text {
      color: #FFFFFF;
      font-size: 22px;
      display: table-cell;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
  }

  /* Make the Text Change Color on Hover */
  .explore:hover .explore-text {
      color: #FFBF1C;  

  }

  /* Handle the Appearing Icon  */
  .explore-icon {
      color: #FFBF1C;
      visibility: hidden;
      display: table-cell;
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  /* Make the Icon for Explore Appear on Hover */
  .explore:hover .explore-icon {
    visibility: visible;
  }

  /* Featured Areas of Study Row*/
  .featrow {
    padding-top: 55px;
    padding-bottom: 80px;
  }