/* Handles css that shows up on the main pages */

/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* Side Navbar */ 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #007bff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 24px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sideText {
    visibility: hidden;
}

/* Profile button on bottom right */
.sideProfile {
    width: 24px;
    height: 24px;
    position: fixed;
    bottom: 8%;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

/* Right Side Content */
.rightBox {
    width: 60%;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #090909;
    background-color: #007bff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.rightBox p, h1  {
    color: #f1f1f1;
    text-align: center;
}

.rightBox p {
    font-size: 48px;
}

.rightBox h1 {
    font-size: 64px;
    padding-bottom: 10px;
    border-bottom: 3px outset #090909;
}

/* Body Background  */
body {
    background-color: #f1f1f1;
}

/* Profile Pictures */
.profileImg {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

/* Displays the page title */
.topBox {
    width: 100%;
    background-color: #fdfdfd;
    border: 1px solid #090909;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}