.spacedCards {
    margin: 12px;
}

.marketBox {
    width: 100%;
    background-color: #fdfdfd;
    border: 1px solid #090909;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.list-group a {
    font-size: 20px;
    word-spacing: 3px;
}

.marketLink {
    font-size: 32px;
    text-decoration: none;
    color: #111111;
}
