* {
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}

/* Header/Logo Title */
.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
.register {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 82, 82);
}
.body {
    background-color: rgb(189, 221, 221);
}
.loginForm {
    position: absolute;
    top: 25%;
    right: 40%;
    width: 20%;
    margin: auto;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(170, 187, 214);
}
/* Bordered form */
form {
    color: tomato;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 90%;
    background-color: white;
    padding: 15px 10px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button {
    background-color: green;
    color: white;
    width: 80%;
    padding: 14px 20px;
    margin: 8px 35px;
    border: none;
    cursor: pointer;
    border-radius: 2%;
}