h2{
    text-align: center;
    font-style: Bold;
    color: white;
}
form{
    font-style: Bold;
    color: white;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}
html, body{
    background-color: black;
    border: solid;
    border-color: white;
}